# SOLUTION KEY

In [1]:
import time
import pandas as pd

import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [2]:
# Let's create some functions to make it easier

# First when there are no parent/child tags involved
def scrape_no_parent(lst, tag, clss, keyword):
    holder = driver.find_elements_by_xpath(f"//{tag}[@{clss}= '{keyword}']")

    for i in holder:
        lst.append(i.text)

# Parent/Child tags
def scrape_parent(lst, tag, clss, keyword, child):
    holder = driver.find_elements_by_xpath(f"//{tag}[@{clss}= '{keyword}']/{child}")

    for i in holder:
        lst.append(i.text)

# Creating dataframes with index from 1
def dataframe_creating(**kwargs):
    df_name = pd.DataFrame({})
    for key, value in kwargs.items():
        df_name[key] = value
    
    # Correcting the index    
    df_name.index +=1    
    
    return df_name

### Problem 1: WAP to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [41]:
# I saved chromedriver.exe in the same directory as this notebook
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.naukri.com/')

# Let's scrap Data Scientist without going to website ourselves
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')

# Now let's use XPath for location search bar
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [42]:
# Click 'Search'
search_btn = driver.find_element_by_xpath("//div[@class= 'search-btn']/button")
search_btn.click()

In [43]:
# URL to be scraped
url ='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

# Let's open webpage with the driver
driver.get(url)

# Initialise required lists
job_list=[]
company_list=[]
location_list=[]
experience_list=[]

In [44]:
# Now to scrape each required column
scrape_no_parent(job_list, 'a', 'class', 'title fw500 ellipsis')
scrape_no_parent(company_list, 'a', 'class', 'subTitle ellipsis fleft')
scrape_parent(location_list, 'li', 'class', 'fleft grey-text br2 placeHolderLi location', 'span[1]')
scrape_parent(experience_list, 'li', 'class', 'fleft grey-text br2 placeHolderLi experience', 'span[1]')

len(job_list), len(company_list), len(location_list), len(experience_list)

(20, 20, 20, 20)

In [50]:
kwargs={'Job-Title':job_list[0:10], 'Job-Location':location_list[0:10], 'Company-Name': company_list[0:10], 'Experience-Required': experience_list[0:10]}
df = dataframe_creating(**kwargs)

# Closing the driver
#driver.close()

df

,Job-Title,Job-Location,Company-Name,Experience-Required
1,SQL Data Analyst,Bangalore/Bengaluru,NetApp,3-7 Yrs
2,Data Analyst - Marketing,Bangalore/Bengaluru,Byjus - Transforming Education using Technology,0-2 Yrs
3,Openings For Data Analyst,Bangalore/Bengaluru,Allegis Services India Pvt. Ltd.,0-3 Yrs
4,Associate Data Analyst,Bangalore/Bengaluru,Integrated Digital Systems,0-2 Yrs
5,Business Data Analyst,Bangalore/Bengaluru,INDIAVIDUAL LEARNING LIMITED,2-6 Yrs
6,Data Analyst / Business Analyst (Demand Planning),Bangalore/Bengaluru,Flipkart,1-4 Yrs
7,Data Analyst,Bangalore/Bengaluru,Applied Materials,0-3 Yrs
8,Lead Data Analyst / Data Engineer,Bangalore/Bengaluru,Huawei Technologies,5-10 Yrs
9,Business Data Analyst,Bangalore/Bengaluru,RANDSTAD INDIA PVT LTD,8-12 Yrs
10,Senior Data Analyst,Bangalore/Bengaluru,Scienaptic Systems,5-10 Yrs

### Problem 2: WAP to scrape data for “Data Analyst” Job position in “Bangalore” location.

In [238]:
# I saved chromedriver.exe in the same directory as this notebook
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.naukri.com/')

# Let's scrap Data Scientist without going to website ourselves
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

# Now let's use XPath for location search bar
search_loc = driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

# Click 'Search'
search_btn = driver.find_element_by_xpath("//div[@class= 'search-btn']/button")
search_btn.click()

In [239]:
# Initialise required lists
job_list=[]
company_list=[]
location_list=[]
description_list=[]

In [240]:
# Now to scrape each required column

# Job Name
scrape_no_parent(job_list, 'a', 'class', 'title fw500 ellipsis')

# Company Name
scrape_no_parent(company_list, 'a', 'class', 'subTitle ellipsis fleft')

# Location
scrape_parent(location_list, 'li', 'class', 'fleft grey-text br2 placeHolderLi location', 'span[1]')
#scrape_parent(description_list, 'li', 'class', 'fleft grey-text br2 placeHolderLi experience', 'span[1]')

len(job_list), len(company_list), len(location_list)

(20, 20, 20)

In [243]:
# # For description, let us store all URls in a list and iterate
# url_list=[]

# # We can get the hrefs from the same xpath as 'Job Name'
# descr = driver.find_elements_by_xpath("//a[@class= 'title fw500 ellipsis']")

# for i in descr:
#     url_list.append(i.get_attribute("href"))
    
# We shall run a loop through it and scrape the job description
for i in url_list[10:]:
    driver.get(i)
    holder = driver.find_element_by_xpath("//div[@class= 'dang-inner-html']")
    description_list.append(holder.text)
len(description_list)

19

In [251]:
# The 10th entry on description list (EXL Services) uses its own website to post job description so we will have to make another scraping attempt to extract it
driver.get('https://www.naukri.com/job-listings-data-scientist-exl-services-com-i-pvt-ltd-gurgaon-gurugram-bangalore-bengaluru-3-to-5-years-141021005203?src=jobsearchDesk&sid=16344034987605874&xp=10&px=1')

holder = driver.find_element_by_xpath("//div[@class= 'clearboth description']/ul")

# Removing the 10th item and replacing with holder.text
del description_list[9]
description_list.insert(9, holder.text)

In [252]:
kwargs={'Job-Title':job_list[0:10], 'Job-Location':location_list[0:10], 'Company-Name': company_list[0:10], 'Job Description': description_list[0:10]}

df = dataframe_creating(**kwargs)

df

,Job-Title,Job-Location,Company-Name,Job Description
1,Sr. Data Scientist / Data Scientist For Bangal...,"Kolkata, Bangalore/Bengaluru",mPokket,Job Description:\n1. Must have\na. Programming...
2,Senior Data Scientist - Python/Machine Learnin...,"Mumbai, Hyderabad/Secunderabad, Pune, Bangalor...",Altimax Business Solutions,"About The Job :\n\n- You will architect, code ..."
3,Lead Data Scientist,Bangalore/Bengaluru,Huawei Technologies,We are looking for a Lead data scientist who w...
4,SDE2 Data Scientist,Bangalore/Bengaluru,Multi Recruit,Use data to develop machine learning models th...
5,SDE1 Data Scientist,Bangalore/Bengaluru,Multi Recruit,Use data to develop machine learning models th...
6,Data Scientist,Bangalore/Bengaluru,epiFi Technologies,At epiFi you will :\nResearch and build predic...
7,Data Scientist,"Pune, Bangalore/Bengaluru",Nutanix India Technologies Private Limited,Objectives of this Role\nCollaborate with prod...
8,Vice President Data Scientist,Bangalore/Bengaluru,ExecBoardinAsia,This role will be responsible for all aspects ...
9,Data Scientist,Bangalore/Bengaluru,Capco Technologies Pvt Ltd,"We are/have:\nExperts in banking and payments,..."
10,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL Services.com ( I ) Pvt. Ltd.,"Be involved in the approach to the problem, st..."

### Problem 3: Scrape data using the filters available on the webpage (Delhi/NCR and 3-6 lakhs)

In [28]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.naukri.com/')

# Let's scrap Data Scientist without going to website ourselves
search_job = driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

# Click 'Search'
search_btn = driver.find_element_by_xpath("//div[@class= 'search-btn']/button")
search_btn.click()

In [29]:
# Let us select the filters

# For Delhi/NCR
search_delhi = driver.find_element_by_xpath("//label[@for= 'chk-Delhi / NCR-cityTypeGid-']/i[1]")
search_delhi.click()

In [30]:
# For 3-6 lakhs
search_3_6_lakhs = driver.find_element_by_xpath("//label[@for= 'chk-3-6 Lakhs-ctcFilter-']/i[1]")
search_3_6_lakhs.click()

In [33]:
# Initialise required lists
job_list=[]
company_list=[]
location_list=[]
experience_list=[]

In [34]:
# Now to scrape each required column
scrape_no_parent(job_list, 'a', 'class', 'title fw500 ellipsis')
scrape_no_parent(company_list, 'a', 'class', 'subTitle ellipsis fleft')
scrape_parent(location_list, 'li', 'class', 'fleft grey-text br2 placeHolderLi location', 'span[1]')
scrape_parent(experience_list, 'li', 'class', 'fleft grey-text br2 placeHolderLi experience', 'span[1]')

len(job_list), len(company_list), len(location_list), len(experience_list)

(20, 20, 20, 20)

In [35]:
kwargs={'Job-Title':job_list[0:10], 'Job-Location':location_list[0:10], 'Company-Name': company_list[0:10], 'Experience-Required': experience_list[0:10]}

df = dataframe_creating(**kwargs)

df

,Job-Title,Job-Location,Company-Name,Experience-Required
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",EXL Services.com ( I ) Pvt. Ltd.,3-5 Yrs
2,Job Opportunity || Data Scientist || HCL Techn...,Delhi / NCR,HCL Technologies,4-7 Yrs
3,Data Scientist,Noida,Newgen Software Technologies Ltd.,2-5 Yrs
4,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Hexagon Geosystems Services India P.Ltd.,6-11 Yrs
5,Data Scientist I/II/III,Gurgaon/Gurugram,OLX India Pvt Ltd,3-6 Yrs
6,Associate Data Scientist,Noida,Optum Global Solutions (India) Private Limited,2-7 Yrs
7,Data Scientist,Gurgaon/Gurugram,Milliman India Pvt Ltd,2-5 Yrs
8,Data Scientist Internship,New Delhi,iHackers Inc,0-1 Yrs
9,Data Scientist,"Mumbai, Delhi / NCR",lericon infomatics pvt.ltd,3-5 Yrs
10,Data Scientist,"Mumbai, Gurgaon/Gurugram, Bangalore/Bengaluru",Fractal Analytics,3-7 Yrs

### Problem 4: Scrape top 10 jobs for Data Scientists in Noida

In [3]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.glassdoor.co.in/Job/index.htm')

# Let's search for 'Data Scientist' in search bar
search_job = driver.find_element_by_xpath("//input[@class= 'keyword']")
search_job.send_keys('Data Scientist')

# Now let's search for 'Noida' in location search bar
search_loc = driver.find_element_by_xpath("//input[@class='loc']")
search_loc.clear()
search_loc.send_keys('Noida')

# To debug the ElementNotInteractableException
#WebDriverWait(driver, 30).until(EC.element_to_be_clickable((By.XPATH,"//button[@class= 'gd-btn-mkt']/span[1]" )))

# Click 'Search'
search_btn = driver.find_element_by_xpath("//button[@class= 'gd-btn-mkt']")
search_btn.click()

In [4]:
# Initialise required lists

company_list=[]
days_list=[]
ratings_list=[]

In [7]:
# Now to scrape

# Company Name
scrape_parent(company_list, 'a', 'class', ' job-search-key-l2wjgv e1n63ojh0 jobLink', 'span[1]')

# Days since
scrape_no_parent(days_list, 'div','class', 'd-flex align-items-end pl-std css-17n8uzw')

# There are a few ratings missing 

holder = driver.find_elements_by_xpath(f"//div[@class= 'd-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']")

for i in holder:
    if driver.find_elements_by_xpath(f"//div[@class= 'd-flex flex-column job-search-key-1pzmdmc e1rrn5ka1']/span[1]"):
        ratings_list.append(i.text) # Append the rating

In [10]:
ratings_list[0:10]

['', '', '3.8', '3.8', '3.7', '3.8', '3.7', '4.0', '', '']

In [11]:
kwargs={'Company-Name':company_list[0:10], 'Days Since Posting':days_list[0:10], 'Rating': ratings_list[0:10]}

df = dataframe_creating(**kwargs)

df

                              Company-Name Days Since Posting Rating
1                  Instrovate Technologies               30d+
2                             Pixel Vision                 5d
3         2COMS Consulting Private Limited                16d    3.8
4                                    Crowe                15d    3.8
5                                HDFC Bank                 5d    3.7
6                                Innovacer                 4d    3.8
7                       UnitedHealth Group                 8d    3.7
8   AlgoScale Technologies Private Limited               30d+    4.0
9             Salasar New Age Technologies               30d+
10    Liberin Technologies Private Limited               30d+

### Problem 5: Scrape the salary data for Data Scientist designation in Noida location. (Average, Min, Max Salary)

In [22]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.glassdoor.co.in/Salaries/')

# Let's search for 'Data Scientist' in search bar
search_job = driver.find_element_by_xpath("//input[@class= 'keyword']")
search_job.send_keys('Data Scientist')

# Now let's search for 'Noida' in location search bar
search_loc = driver.find_element_by_xpath("//input[@class='loc']")
search_loc.clear()                                                       # To clear 'Nagpur, Maharashra'
search_loc.send_keys('Noida')

# Click 'Search'
search_btn = driver.find_element_by_xpath("//button[@class= 'gd-btn-mkt']")
search_btn.click()

In [18]:
# Initialise required lists

company_list=[]
salary_number_list=[]
average_list=[]
min_list=[]
max_list=[]
min_max=[]

In [19]:
# Company names
scrape_no_parent(company_list, 'a', 'class', 'css-f3vw95 e1aj7ssy3')

# Number of salaries
scrape_parent(salary_number_list, 'div', 'class', 'col-12 col-lg-auto', 'span')

# Average
scrape_parent(average_list, 'div', 'class', 'col-12 col-lg-4 px-lg-0 d-flex align-items-baseline', 'h3')

# Minimum and Maximum
scrape_parent(min_max, 'div', 'class', 'd-flex mt-xxsm css-79elbk epuxyqn0', 'p')

In [24]:
# Min and max will be divided into different parts
min_list=min_max[0::2]
max_list=min_max[1::2]

40

In [ ]:
kwargs={'Company-Name':company_list[0:10], 'Number of Salaries':salary_number_list[0:10], 'Average Salary': average_list[0:10], 'Minimum Salary': min_list[0:10], 'Maximum Salary': max_list[0:10]}

df = dataframe_creating(**kwargs)

df

### Problem 6: Scrape data of first 100 sunglasses listings on flipkart.com

In [45]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.flipkart.com/')

time.sleep(3)

# A popup shows up which is removed
close_popup = driver.find_element_by_xpath("//button[@class= '_2KpZ6l _2doB4z']")
close_popup.click()

# Let's search for 'sunglasses' in search bar
search_job = driver.find_element_by_xpath("//input[@class= '_3704LK']")
search_job.send_keys('sunglasses')

# Click 'Search'
search_btn = driver.find_element_by_xpath("//button[@class= 'L0Z3Pu']")
search_btn.click()

In [46]:
# Initialise required lists

brand_list=[]
product_desc_list=[]
price_list=[]
discount_list=[]

In [47]:
url='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1'

# We can get 100 results within 3 pages
for i in range(1,4):
    url=url[:-1]+str(i)
    
    driver.get(url)
    
    # Brand
    scrape_no_parent(brand_list, 'div', 'class', '_2WkVRV')

    # Product desc
    scrape_no_parent(product_desc_list, 'a', 'class', 'IRpwTa')

    # Price
    scrape_no_parent(price_list, 'div', 'class', '_30jeq3')

    # Discount
    scrape_parent(discount_list, 'div', 'class', '_3Ay6Sb', 'span')

In [51]:
len(discount_list)

116

In [52]:
kwargs={'Brand-Name':brand_list[0:100], 'Product Description':product_desc_list[0:100], 'Price': price_list[0:100], 'Discount Percentage': discount_list[0:100]}

df = dataframe_creating(**kwargs)

df

,Brand-Name,Product Description,Price,Discount Percentage
1,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹758,15% off
3,PIRASO,UV Protection Aviator Sunglasses (54),₹200,87% off
4,Elligator,UV Protection Round Sunglasses (54),₹295,88% off
5,SHAAH COLLECTIONS,"UV Protection, Polarized, Mirrored Rectangular...",₹198,88% off
...,...,...,...,...
96,PHENOMENAL,"UV Protection, Mirrored, Gradient Retro Square...",₹246,60% off
97,Fastrack,UV Protection Wayfarer Sunglasses (52),₹799,79% off
98,Rich Club,Polarized Round Sunglasses (49),₹199,5% off
99,kingsunglasses,UV Protection Round Sunglasses (Free Size),₹331,66% off
100,Fastrack,UV Protection Round Sunglasses (52),"₹1,234",87% off

### Problem 7: Scrape 100 reviews data from flipkart.com for iphone11 phone

In [73]:
# Initialise required lists

rating_list=[]
review_summ_list=[]
full_review_list=[]

In [74]:
driver = webdriver.Chrome('chromedriver.exe')

url = 'https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=1'

# Since there are 10 reviews per page, a total of 10 pages will be enough
for i in range(1,11):
    url=url[:-1]+str(i)
    
    driver.get(url)

    # Ratings
    holder = driver.find_elements_by_xpath("//div[@class= '_3LWZlK _1BLPMq' or @class= '_3LWZlK _1rdVr6 _1BLPMq']")

    for i in holder:
        rating_list.append(i.text)
        
    # Review
    scrape_no_parent(review_summ_list, 'p', 'class', '_2-N8zT')

    # Full Review
    holder = driver.find_elements_by_xpath("//div[@class= 't-ZTKy']/div/div")

    for i in holder:
        full_review_list.append(i.text)

In [75]:
len(review_summ_list), len(full_review_list), len(rating_list)

(100, 100, 100)

In [76]:
kwargs={'Rating':rating_list, 'Review Summary':review_summ_list, 'Full Review:':full_review_list}

df = dataframe_creating(**kwargs)

df

,Rating,Review Summary,Full Review:
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
5,5,Best in the market!,Great iPhone very snappy experience as apple k...
...,...,...,...
96,5,Terrific purchase,I use a Note10+ and have been using both iOS a...
97,5,Awesome,The phone is completely good\nAs far as camera...
98,3,Decent product,Everything u ll like it when u use this iPhone...
99,5,Awesome,Can’t beat the software and hardware integrati...
100,5,Brilliant,A wort full value for money decision it’s . Si...

### Problem 8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [98]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.flipkart.com/')

# A popup shows up which is removed
close_popup = driver.find_element_by_xpath("//button[@class= '_2KpZ6l _2doB4z']")
close_popup.click()

# Let's search for 'sunglasses' in search bar
search_job = driver.find_element_by_xpath("//input[@class= '_3704LK']")
search_job.send_keys('sneakers')

# Click 'Search'
search_btn = driver.find_element_by_xpath("//button[@class= 'L0Z3Pu']")
search_btn.click()

In [104]:
# Initialise required lists

brand_list=[]
product_desc_list=[]
price_list=[]
discount_list=[]

In [105]:
url='https://www.flipkart.com/search?q=sneakers&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off&page=1'

# We can get 100 results within 3 pages
for i in range(1,4):
    url=url[:-1]+str(i)
    
    driver.get(url)
    
    # Brand
    scrape_no_parent(brand_list, 'div', 'class', '_2WkVRV')
    
    # Product Description
    holder = driver.find_elements_by_xpath("//a[@class= 'IRpwTa' or @class= 'IRpwTa _2-ICcC']") # Two keywords combine for all 120 entries

    for i in holder:
        product_desc_list.append(i.text)
    
    # Price
    scrape_no_parent(price_list, 'div', 'class', '_30jeq3')

    # Discount
    scrape_parent(discount_list, 'div', 'class', '_3Ay6Sb', 'span')
    
    # discount_list has a missing value which we replace with NA
    discount_list.insert(75, 'NA')

In [109]:
len(product_desc_list), len(price_list), len(discount_list), len(brand_list)

(120, 120, 120, 120)

In [110]:
kwargs={'Brand-Name':brand_list[0:100], 'Product Description':product_desc_list[0:100], 'Price': price_list[0:100], 'Discount Percentage': discount_list[0:100]}

df = dataframe_creating(**kwargs)

df

,Brand-Name,Product Description,Price,Discount Percentage
1,RapidBox,Sneakers For Men,₹520,47% off
2,Chevit,Unique & Perfect Collection Combo Pack of 02 S...,₹599,60% off
3,D-SNEAKERZ,"Casual , Partywear Sneakers Shoes For Men's An...",₹348,47% off
4,BIRDE,Birde Trendy Casual Shoes Sneakers For Men,₹399,20% off
5,Numenzo,411 Casual Sneakers For Men,₹426,78% off
...,...,...,...,...
96,BIRDE,Men's Stylish Casual Shoes Sneakers For Men,₹399,20% off
97,Numenzo,Sneakers For Men,₹426,78% off
98,ganpati traders,Sneakers For Men,₹183,63% off
99,T-ROCK,Synthetic Leather Casual Partywear Wedding Sne...,₹379,62% off
100,Chevit,Speed Set of 5 Pairs Sneakers Outdoors Casuals...,₹899,63% off

### Problem 9: Myntra Shoes (black, 6649-13099)

In [111]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.myntra.com/shoes')

In [126]:
# Let us select the filters

# For price range
# parent:: goes back to the parent node and from there we can maneuver to div, which is the click button
search_price = driver.find_element_by_xpath("//input[@value= '6908.0 TO 13602.0']/parent::*/div[1]")
search_price.click()

In [118]:
# For colour of shoes
search_colour = driver.find_element_by_xpath("//span[@class= 'colour-label colour-colorDisplay']")
search_colour.click()

In [135]:
# Initialise required lists

brand_list=[]
short_desc_list=[]
price_list=[]

In [136]:
url='https://www.myntra.com/shoes?f=Color%3ABlack_36454f&rf=Price%3A6908.0_13602.0_6908.0%20TO%2013602.0'
driver.get(url)
    
# Brand
scrape_no_parent(brand_list, 'h3', 'class', 'product-brand')

# Short Description
scrape_no_parent(short_desc_list, 'h4', 'class', 'product-product')

# Price
scrape_no_parent(price_list, 'span', 'class', 'product-discountedPrice')

# Now we shall click on the 'Next' button to go to page 2 and do it again
next_page = driver.find_element_by_xpath("//li[@class= 'pagination-next']/a[1]")

# Brand
scrape_no_parent(brand_list, 'h3', 'class', 'product-brand')

# Short Description
scrape_no_parent(short_desc_list, 'h4', 'class', 'product-product')

# Price
scrape_no_parent(price_list, 'div', 'class', 'product-price')

In [162]:
# Some prices have stuck together, leading to a smaller number of entries in price_list eg 'Rs. 7999Rs. 9999(20% OFF)'
#Let us define a function which finds a second occurence of 'R' and split the entry into 2 
def find_2nd(string, substring):
    return string.find(substring, string.find(substring) + 1)

# Create a new list 
new_price=[]
for i in price_list:
    c=find_2nd(i, 'R')
    
    # The reasoning here is only entries that are stuck together will be higher than 9 characters so we can safely split them 
    # and just simply append the rest
    if len(i)>10:
        new_price.append(i[:c])
        new_price.append(i[c:])
    else:
        new_price.append(i)
    
len(new_price)

100

In [164]:
kwargs={'Brand-Name':brand_list, 'Product Description':short_desc_list, 'Price': new_price}

df = dataframe_creating(**kwargs)

df

          Brand-Name             Product Description              Price
1               ALDO           Leather Solid Loafers          Rs. 10499
2               Puma   Men Jamming 2.0 Running Shoes          Rs. 10399
3               ALDO               Men Driving Shoes          Rs. 11199
4               Puma  Men Deviate Nitro Running Shoe          Rs. 11999
5    PUMA Motorsport  Unisex FerrariRS-Fast Sneakers           Rs. 7999
..               ...                             ...                ...
96              Puma        Unisex Textured Sneakers  Rs. 7999(10% OFF)
97      Hush Puppies              Men Leather Derbys           Rs. 7990
98         J.FONTINI    Men Textured Leather Loafers           Rs. 9999
99              Geox       Men Leather Formal Derbys           Rs. 6999
100             Puma    Unisex Mirage Sport Trainers  Rs. 9999(30% OFF)

[100 rows x 3 columns]

### Problem 10: Laptop i7/i9

In [182]:
driver = webdriver.Chrome('chromedriver.exe')

driver.get('https://www.amazon.in/')

# Typing 'Laptop' in search box
laptop = driver.find_element_by_xpath("//input[@id='twotabsearchtextbox']")
laptop.send_keys('laptop')

# Click 'Search'
search_btn = driver.find_element_by_xpath("//input[@id= 'nav-search-submit-button']")
search_btn.click()

In [183]:
# Now filter i7
i7_filter = driver.find_element_by_xpath("//li[@id= 'p_n_feature_thirteen_browse-bin/12598163031']/span/a/div/label[1]")
i7_filter.click()

In [184]:
# Let us filter i9
i5_filter = driver.find_element_by_xpath("//li[@id= 'p_n_feature_thirteen_browse-bin/16757432031']/span/a/div/label[1]")
i5_filter.click()

In [208]:
# Initialise required lists

title_list=[]
rating_list=[]
price_list=[]

In [209]:
# Title
scrape_no_parent(title_list, 'span', 'class', 'a-size-medium a-color-base a-text-normal')

# Rating
holder = driver.find_elements_by_xpath("//div[@class= 'a-row a-size-small']/span")

for i in holder:
    rating_list.append(i.get_attribute('aria-label'))


# Price 
scrape_no_parent(price_list, 'span', 'class', 'a-price-whole')

In [210]:
# Removing extra elementa from rating_list. aria-label gave two strings per iteration so let's remove half the strings
rating_list_new=[]

rating_list_new=rating_list[::2]

rating_list_new

['4.4 out of 5 stars',
 '4.4 out of 5 stars',
 '3.9 out of 5 stars',
 '4.2 out of 5 stars',
 '3.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.4 out of 5 stars',
 '4.3 out of 5 stars',
 '4.5 out of 5 stars',
 '4.4 out of 5 stars',
 '4.1 out of 5 stars',
 '4.0 out of 5 stars',
 '3.6 out of 5 stars',
 '3.9 out of 5 stars',
 '4.3 out of 5 stars',
 '4.2 out of 5 stars',
 '5.0 out of 5 stars',
 '4.8 out of 5 stars',
 '4.3 out of 5 stars',
 '4.3 out of 5 stars',
 '4.4 out of 5 stars',
 '3.7 out of 5 stars',
 '4.2 out of 5 stars',
 '3.6 out of 5 stars',
 '4.3 out of 5 stars',
 '4.1 out of 5 stars',
 '4.5 out of 5 stars',
 '4.6 out of 5 stars',
 '4.1 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars',
 '4.2 out of 5 stars']

In [211]:
kwargs={'Title':title_list[0:10], 'Price':price_list[0:10], 'Rating': rating_list_new[0:10]}

df = dataframe_creating(**kwargs)

df

,Title,Price,Rating
1,Fujitsu UH-X 11th Gen Intel i7 Core 13.3” (33....,"89,990",4.4 out of 5 stars
2,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"84,990",4.4 out of 5 stars
3,Acer Nitro 5 11th Gen Intel Core i7-11800H 15....,"85,990",3.9 out of 5 stars
4,Mi Notebook Horizon Edition 14 Intel Core i7-1...,"53,990",4.2 out of 5 stars
5,Life Digital Laptop 15.6-inch (39.62 cms) (Int...,"24,990",3.3 out of 5 stars
6,HP Pavilion (2021) Intel 11th Gen Core i7 14 i...,"84,990",4.3 out of 5 stars
7,Dell 14 (2021) i7-1195G7 2in1 Touch Screen Lap...,"89,990",4.4 out of 5 stars
8,Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....,"84,990",4.3 out of 5 stars
9,Lenovo IdeaPad S540 11th Gen Intel Core i7 13....,"77,990",4.5 out of 5 stars
10,HP Pavilion 13(2021) 11th Gen Intel Core i7 La...,"91,990",4.4 out of 5 stars